* {
	margin: 0;
	padding: 0;
}

.main{
	width: 100%;
	background-position: center;
	background-size: cover;
	height: 100vh;
}

.title{
	color: #000000;
	font-size: 30px;
	font-family: Arial;
	padding-left: 20px;
	float: left;
    padding-top: 14px;
	margin-top: -110px;
}

.menu{
	float: left;
	height: 70px;
	padding-top: 42px;
	margin-top: -110px;
	margin-left:177px;
}

ul{
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}

ul li{
	list-style: none;
	margin-left: 62px;
	margin-right: 27px;
	font-size: 24px;
}

ul li a{
	text-decoration: none;
	color: #000000;
	font-family: Arial;
	font-weight: bold;
	transition:0.4s ease-in-out;
}

ul li a:hover{
	color: #ffff8f;
}

.main .settings{
	width: 60%;
	margin-left: 20%;
	margin-top: 110px;
	display:block;
	position: center;
	border: groove;
	border-style: groove;
	height: 70vh;
}

.settings .option{
	display:block; 
	width: 90%;
	margin-left: 5%;
	height: 20%;
	margin-top:10px;
	border: solid;
	border-color: grey;
}

.option p{
	margin-left: 5px;
}
.settings .option .eg_details{
	display:block;
	font-size: 12px;
	opacity: 60%;
	margin-left: 5px;
}

.settings .option .edit{
	margin-left:92%;
	margin-top: -12px;
	width: 50px;
	height: 25px;
	#move_it-up
}

.option .dark_mode{
	margin-top: 48px;
	margin-left: 5px;
}

.option input{
	float:right;
	margin-right:10px;
	margin-top: -8px;
}

.options .more{
	padding-top: 28px;
	margin-left: 5px;
}