<!DOCTYPE html>
<html lang="en">
<head>
	<title>Student Subject Tracking System</title>
	<link rel="stylesheet" type="text/css" href="LoginLayout.css">
</head>
<body>

<div class="main">

<div class="title">
    <h1>SSTS</h1>
</div>

<div class="menu">
<ul>
	<li><a href="#">HOME</a></li>
	<li><a href="#">SETTINGS</a></li>
	<li><a href="#">ABOUT US</a></li>

</ul>
</div>

<div class="intro">
	<h1>Track Your<br><span>Subjects</span><br>With Ease</h1>
	<p class="para">Struggle knowing the progress you have made in lesson?<br>You can now track
your progress with no difficulty.</p>
	
<button class="join"><a href="#">JOIN NOW</a></button>
</div>

</div>
<div class="login">
	<h2>Login Here:</h2>
	<input type="email" name="email" maxlength="320" placeholder="Enter E-mail here">
	<input type="password" name="" placeholder="Enter password here">
    <button class="btn"><a href="Login.py">Login</a></button>
<div class="forgot">
	<a href="#">Forgot password?</a>
</div>
</div>
</body>
</html>