<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Subject Tracking System - Settings</title>
    <link rel="stylesheet" type="text/css" href="Settings.css">
</head>
<body>
    <div class="main">

        <div class="title">
            <h1>SSTS</h1>
        </div>
        
        <div class="menu">
        <ul>
            <li><a href="#">HOME</a></li>
            <li><a href="#">SETTINGS</a></li>
            <li><a href="#">ABOUT US</a></li>
        </ul>
        </div>
        <div class="settings">
            <div class="option">
                <p>Details</p>
                <p class="eg_details">john.doe@example.com</p>
                <p class="eg_details">John Doe</p>
                <button class="edit">Edit</button>
            </div>
            <div class="option">
                <p class="dark_mode">Dark Mode></p>
                <input type="checkbox">
            </div>
        </div>
        </div>
    </div>
</body>
</html>