<!DOCTYPE html>
<html lang="en">
<head>
	<title>Create an account - SSTD</title>
	<link rel="stylesheet" type="text/css" href="SignupLayout.css">
</head>
<body>

<div class="main">

<div class="title">
    <h1>SSTS</h1>
</div>

<div class="menu">
<ul>
	<li><a href="#">HOME</a></li>
	<li><a href="#">SETTINGS</a></li>
	<li><a href="#">ABOUT US</a></li>

</ul>
</div>
<div class=sign_up>
<h2>Sign Up</h2>
<form action="#">
<div class="user-details">
<div class="input-box">
	<span class="details">First Name:</span>
	<input id = "name" type="name" placeholder="Enter your first name" required>
</div>
<div class="input-box">
	<span class="details">Surname:</span>
	<input type="name" placeholder="Enter your surname" required>
</div>
<div class="input-box">
	<span class="details">E-mail:</span>
	<input type="email" placeholder="Enter your email" required>
</div>
<div class="input-box">
	<span class="details">Password:</span>
	<input id = "password" type="text" minlength="8" placeholder="Enter your password" required>
</div>
<div class="input-box">
	<span class="details">Confirm Password:</span>
	<input id="password" type="text" minlength="8" placeholder="Confirm your password" required>
</div>
</div>
	<button class="btn"><a href="file:///C:/Users/gilll/OneDrive/Documents/Alex/Computer%20Science/SSTS/Home.html">Create account</a></button>
</div>
