<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Subject Tracking System - About Us</title>
    <link rel="stylesheet" type="text/css" href="/static/AboutUs.css">
</head>
<body>
    <div class="main">

        <div class="title">
            <h1>SSTS</h1>
        </div>
        
        <div class="menu">
        <ul>
            <li><a href="http://localhost:5000/home/">HOME</a></li>
            <li><a href="http://localhost:5000/settings/">SETTINGS</a></li>
            <li><a href="http://localhost:5000/about-us/">ABOUT US</a></li>
        </ul>
        </div>
    <div class="explanation">
        <h2>What is SSTS?</h2>
        <p>SSTS (Student Subject Traking System) is a project in which it's purpose is to 
            aid students in a way that they can easily track progress in the subjects they study. The way
            this works is by tracking the grades students achieve in their studies (obtained through the
            user's input) and applying this information to present a visual representation of the progress they have made.
        </p>
    </div>
    </div>
</body>
</html>
