<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Subject Tracking System - Home</title>
    <link rel="stylesheet" type="text/css" href="/static/HomeLayout.css">
</head>
<body>
    <div class="main">

        <div class="title">
            <h1>SSTS</h1>
        </div>
        
        <div class="menu">
        <ul>
            <li><a href="http://localhost:5000/home/">HOME</a></li>
            <li><a href="http://localhost:5000/settings/">SETTINGS</a></li>
            <li><a href="http://localhost:5000/about-us/">ABOUT US</a></li>
        </ul>
        </div>    
        <div class = "progress">
            <button class="records"><a href="http://localhost:5000/progress/">PROGRESS HERE</a></button>
        </div>
        <div class="goals_section">
            <h2>View Goals Here:</h2>
            <div class="goals">
                <p>No Goal Set</p>
                <p>No Goal Set</p>
                <p>No Goal Set</p>
            </div>>
            <div class="add_goals">
                <input type="goal" name="new_goal" placeholder="Enter new goals here">
                <button class="btn"><a href="#">Add Goal</a></button>
            </div>
        </div>
    </div>
</body>
</html>