{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
    %}
    <form method="GET">
        {% for subject in user.subjects %}
        <br />
        <h2>{{ subject.subject_name }}</h2>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col">Time of Grade</th>
                    <th scope="col">Grade</th>
                    <th scope="col">Remove grade</th>
                </tr>
            </thead>
            <tbody>
                {% for grade in subject.grades %}
                <tr>
                    <td>{{ grade.date }}</td>
                    <td>{{ grade.grade }}</td>
                    <td>
                    <button type="button float-center" class="close" onClick="deleteGrade({{ grade.id }})">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% if {{ subject.grades[-1].feedback }} in subject.grades %}
        <p class="lead"><em>{{ subject.grades[-1].feedback }}</em></p>
        {% elif {{ subject.grades[-1].feedback }} not in subject.grades %}
        <p></p>
        {% endif %} #########################
        {% endfor %}
    </form>
    {% endblock %}  