<!DOCTYPE html>
<html lang="en">
<head>
	<title>Student Subject Tracking System</title>
	<link rel="stylesheet" type="text/css" href="/static/LoginLayout.css">
</head>
<body>

<div class="main">

<div class="title">
    <h1>SSTS</h1>
</div>

<div class="menu">
<ul>
	<li><a href="http://localhost:5000/home/">HOME</a></li>
	<li><a href="http://localhost:5000/settings/">SETTINGS</a></li>
	<li><a href="http://localhost:5000/about-us/">ABOUT US</a></li>

</ul>
</div>

<div class="intro">
	<h1>Track Your<br><span>Subjects</span><br>With Ease</h1>
	<p class="para">Struggle knowing the progress you have made in lesson?<br>You can now track
your progress with no difficulty.</p>
	
<button class="join"><a href="http://localhost:5000/register/">JOIN NOW</a></button>
</div>

</div>
<div class="login">
	<h2>Login Here:</h2>
<form method = 'POST' action="/">
	<input name="email" type="email" id="email" maxlength="320" placeholder="Enter E-mail here">
	<input name="password" type="password" id="password" placeholder="Enter password here">
    <input class="btn" type="submit" value = "Login">
</form>
<div class="forgot">
	<a href="#">Forgot password?</a>
</div>
</div>
</body>
</html>