<!DOCTYPE html>
<html lang="en">
<head>
    <title>Student Subject Tracking System - Progress</title>
    <link rel="stylesheet" type="text/css" href="/static/ProgressLayout.css">
</head>
<body>
    <div class="main">

        <div class="title">
            <h1>SSTS</h1>
        </div>
        
        <div class="menu">
        <ul>
            <li><a href="http://localhost:5000/home/">HOME</a></li>
            <li><a href="http://localhost:5000/settings/">SETTINGS</a></li>
            <li><a href="http://localhost:5000/about-us/">ABOUT US</a></li>
        </ul>
        </div>   
        <div class = "progress">
            <p class="records">PROGRESS HERE</p>
        </div>
        <div class="subjects_overview">
            <h2>View Subjects Here:</h2>
            <div class="subjects">
                <p>No Subject Set</p>
                <p>No Subject Set</p>
                <p>No Subject Set</p>
                <p>No Subject Set</p>
            </div>>
            <div class="add_subjects">
                <input type="subject" name="new_subject" placeholder="Enter subjects here">
                <button class="btn"><a href="#">Add Subject</a></button>
        </div>
    </div>
</body>
</html>