<!DOCTYPE html>
<html lang="en">
<head>
	<title>Create an account - SSTD</title>
	<link rel="stylesheet" type="text/css" href="/static/SignupLayout.css">
</head>
<body>

<div class="main">

<div class="title">
    <h1>SSTS</h1>
</div>

<div class="menu">
<ul>
	<li><a href="http://localhost:5000/home/">HOME</a></li>
	<li><a href="http://localhost:5000/settings/">SETTINGS</a></li>
	<li><a href="http://localhost:5000/about-us/">ABOUT US</a></li>

</ul>
</div>
<div class=sign_up>
<h2>Sign Up</h2>
<form action="#">
<div class="user-details">
<form method = 'POST' action = '/register'>
<div class="input-box">
	<span class="details">First Name:</span>
	<input id = "name" type="name" placeholder="Enter your first name" required>
</div>
<div class="input-box">
	<span class="details">Surname:</span>
	<input id="surname" type="name" placeholder="Enter your surname" required>
</div>
<div class="input-box">
	<span class="details">E-mail:</span>
	<input id="email" placeholder="Enter your email" required>
</div>
<div class="input-box">
	<span class="details">Password:</span>
	<input id = "password" type="text" minlength="8" placeholder="Enter your password" required>
</div>
<div class="input-box">
	<span class="details">Confirm Password:</span>
	<input id="confirm_pass" type="text" minlength="8" placeholder="Confirm your password" required>
</div>
</div>
	<input class="btn" type="submit" value="Create account">
</div>
</form>
</div>
